<% provide(:title, "Help") %>
<h1>ヘルプ</h1>

<div class="helps">
  <h2 >在庫の登録</h2>
  <ol>
    <li>『ホーム』画面に移動します。</li>
    <li>フォームより『キット名』『カテゴリ』『メーカー』を入力します。</li>
    <li>『追加』ボタンをクリックしたら登録」完了です。</li>
  </ol>
</div>

<div class="helps">
  <h2>在庫一覧の閲覧</h2>
  <ol>
    <li>『ホーム』ページの『在庫一覧』をクリックすると、『在庫一覧』ページへ移動します。</li>
  </ol>
</div>

<div class="helps">
  <h2>在庫の削除</h2>
  <ol>
    <li>『在庫一覧』ページで、削除したい在庫の横にある『削除』をクリックします。</li>
    <li>確認ウィンドウが表示されるので、『OK』で実行、『キャンセル』で取り消されます。</li>
  </ol>
</div>