<% if logged_in?%>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/login_user' %>
      </section>
      <section class="stock_form">
        <%= render 'shared/stock_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <%= render 'signup_btn' %>
<% end %>


