<h1>Stock Manager</h1>

<p>Hi,<%=@user.name %>!</p>

<%= link_to "account activation", edit_account_activation_url(@user.activation_token,
                                                            email: @user.email) %>
