<footer class="footer">
  <small>
    <a href=root_path>Stock Manager</a>
    <p>製作：税所　章太郎</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Stock Managerとは", about_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
  </nav>
</footer>